attrs==25.3.0
certifi==2025.8.3
click==8.1.8
click-plugins==1.1.1.2
cligj==0.7.2
fiona==1.10.1
fitdecode==0.11.0
fitparse==1.2.0
garmin-fit-sdk==21.178.0
geopandas==1.0.1
importlib_metadata==8.7.0
numpy==2.0.2
packaging==25.0
pandas==2.3.2
pyogrio==0.11.1
pyproj==3.6.1
python-dateutil==2.9.0.post0
pytz==2025.2
shapely==2.0.7
six==1.17.0
tzdata==2025.2
zipp==3.23.0
